In [33]:
import numpy as np

In [2]:
import pandas as pd

In [26]:
d = {'one' : [1., 2., 3., 4.],
     'two' : [11., 12., 13., 14.]}

In [27]:
df = pd.DataFrame(d)

In [19]:
s = pd.Series([1.,2.,3.], index=['a', 'b', 'c'])

In [29]:
df

   one   two
0  1.0  11.0
1  2.0  12.0
2  3.0  13.0
3  4.0  14.0

In [36]:
data[:] = [(1,2.,'Hello'), (2,3.,"World")]

In [38]:
pd.DataFrame(data, index=['first', 'second'])

        A    B         C
first   1  2.0  b'Hello'
second  2  3.0  b'World'